h1 {
    color: brown;
    border: 2x solid gold;
}


li {
    color: green;
}

h4 {
    color: blue;
    background: rgb(255, 95, 99)
}

body {
    background: url(https://cometravelwithkim.files.wordpress.com/2012/06/dsc_3270_full-size.jpg);
}